.page-node-analytics #ga-node-reports-analytics-form .form-item-start-date {
  display: inline-block;
}

.page-node-analytics #ga-node-reports-analytics-form .form-item-end-date {
  display: inline-block;
  padding-left: 20px;
}

.page-node-analytics #ga-node-reports-analytics-form .buttons {
  display: inline-block;
  margin-top: 0px;
  position: relative;
  top: -20px;
  left: 20px;
}
